@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Outfit,sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%); 
}

.box{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    width: 20%;
    text-align: center;
}

.img{
    width: 100%;
    border-radius: 10px;
    
}

.title{
    margin-top: 25px;
}

.description{
    margin-top: 15px;
    margin-bottom: 15px;

}

.box div{
    padding-left: 10px;
    padding-right: 10px;

}