*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
}

.p-20{
    padding: 200px;
}

.part-1{
    background: url(/semana3/reto-4/assets/image/bg-main-desktop.png);
    width: 30%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid;
}

.part-2{
    width: 70%;
    height: 100vh;
    border: solid;
}

img{
    width: 300px;
}

.img-1{
    position: absolute;
    top: 20%;
    left: 13%;


}

.img-2{
    position: absolute;
    top: 52%;
    left: 18%;

}

.part-2-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-top: 10px;
}